<html>
    <head>
        <title>Demand display</title>
    </head>
<body">
    <h2>RESOURCE DEMAND</h2>
    <br>
    <div class="divScrollbar">
        <style>
            .divScrollbar {
                background-color: powderblue;
                overflow: auto;
                height: 200px;
                width: 96%;
                padding: 20px;
            }
        </style>
        {{ df|safe }}
    </div><br>
    <form action="/demand">
        RESOURCE DEMAND : <input type="text" name="num1">
      <input type="submit">
        </form>
        
    <h2 size="20px"></h2>Selected demand : {{ demand }} </h2>
      
 <h2>SUPPLY</h2>
<div class="divScrollbar">
    <style>
        .divScrollbar {
            background-color: powderblue;
            overflow: auto;
            height: 200px;
            width: 96%;
            padding: 20px;
        }
    </style>
    {{ df1|safe }}
  
</div>
    </body>
</html>