<html>
    <head>
        <title>supply display</title>
    </head>
<body>
    <h1>SUPPLY</h1>
    <!-- <div>demand:<br><span id="demand"></span></div>
    <script>
        const demand = localStorage.getItem('demand');
        const myJSON = JSON.stringify(demand);
        document.getElementById('demand').innerHTML = myJSON;

    </script>
    <br>
    <body>
        <input type="number" name="demand"> -->
        
      <form action="one/">
         <input type="number" name="demand">
      </form>
    </body>
    <html>
    <head>
        <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js" 
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
         crossorigin="anonymous"></script>
        <body>
            <form id="formid">
                <label>Demand</label>
                <input type="number" class="demand" id="demand"><br>

                <input type="button" id="submit" onclick="submitData()" value="SEND">
                <div id="showJson"></div>
            </form>
           <script>
            function submitData(){
                var demand=$('#demand').val();

                jsonObject={
                    "Demand":null
                } -->
                <!-- jsonObject.Demand=demand;

                var strJSON= JSON.stringify(jsonObject);
                var parseJSON= JSON.parse(strJSON);
                // document.write(str);
                document.getElementById('showJson').innerHTML=strJSON;
            }
           </script> -->

        </body>
    </head>
</html>
    <div class="divScrollbar">
        <style>
            .divScrollbar {
                background-color: powderblue;
                overflow: auto;
                height: 200px;
                width: 96%;
                padding: 20px;
            }
        </style>
        {{ df|safe }}
    </div>
    </body>
</html>


