<html>
    <head>
        <title>supply display</title>
    </head>

<body>
    <h1>SUPPLY</h1>
    <form action="/supply">
        RESOURCE DEMAND : <input type="text" name="num1">
      <input type="submit">
        </form>
    Selected demand :{{d}} <br>
  
    <div class="divScrollbar">
        <style>
            .divScrollbar {
                background-color: powderblue;
                overflow: auto;
                height: 200px;
                width: 96%;
                padding: 20px;
            }
        </style>
        
        {{ df|safe }}
    </div>
    <br>
    
</body>

</html>